.profileInfo {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 8px;

}

.profilePicture {
    width: 150px;
    height: 150px;
    margin: 0 20px;
    border-radius: 50%;
    object-fit: cover; 
    border: 3px solid #2C64A7;
}

.profileDetails {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.userName {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2C64A7;
    margin: 0 0 8px 0;
}

.userInstitution {
    font-size: 1rem;
    font-weight: 500;
    color: #e36b2d; 
    margin: 0;
    opacity: 0.9;
}
