.body {
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profilePage{
  margin-top: 20px;
  width: 63%;
}

.profileContainer{
  display: flex;
  gap: 20px;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  background: rgba(255, 196, 0, 0.2);
  border: 1px solid var(--glass-border);
  box-shadow: 0 0 15px rgba(0, 47, 255, 0.418);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.profilePicture {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 50%;
}

.userName {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  height: 20%;
  transform: scale(0.7);
  position: absolute;
  right: 0px;
}

.row{
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  width: 63%;
}

.button {
  padding: 8px 16px;
  width: 90%;
  background: rgba(0, 81, 255, 0.644);
  border: 1px solid var(--glass-border);  
  box-shadow: 0 0 15px rgba(0, 47, 255, 0.418);
  color: rgb(255, 250, 246);
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  margin-top: 16px;
}

.button:hover {
  background-color: #003168e1;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  z-index: 999;
}

.modalContent {
  border-radius: 12px;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
  width: 55vw;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.section {
  display: flex;
  flex: 0 0 calc((100% - 30px) / 4);  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}


.section{
  z-index: 1;
}

