.calendarWrapper {
  flex: 0 0 calc((100% - 30px) / 4);               
  background-color: #fff1d6;
  border-radius: 12px;
  border: 2px solid #FB7E25;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  box-sizing: border-box;
  flex: 0 0 calc((100% - 30px) / 4);
}

.title {
  font-size: 1.7rem;
  color: #31373f;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 750;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.header h3 {
  margin: 0;
  color: #2C64A7;
}

.header button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #2C64A7;
  cursor: pointer;
  transition: color 0.2s ease;
}

.header button:hover {
  color: #FB7E25;
}

.dayNames {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  margin-bottom: 6px;
  color: #4A90E2;
}

.calendar {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
}

.day {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  user-select: none;
}

.current {
  background-color: #ffffff;
  color: #333;
  
}

.otherMonth {
  background-color: #e9e2da;
  color: #aaa;
}

.active {
  background-color: #FB7E25 !important;
  color: white;
  font-weight: bold;
}

.today {
  outline: 2px solid #4A90E2;
  outline-offset: -2px;
}


.dayNames > div {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #4A90E2;
  user-select: none;
  font-size: 14px;
}

.day:empty::before {
  content: "\00a0";
  display: block;
  height: 100%;
}