.top3FullSection {
    width: 100%;
    padding: 40px;
    font-family: 'Segoe UI', sans-serif;
    box-sizing: border-box;
    background-color: #fff1d6;
    border-radius: 12px;
    background: rgba(255, 196, 0, 0.2);
    border: 1px solid var(--glass-border);
    box-shadow: 0 0 15px rgba(0, 47, 255, 0.418);
    backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.top3Title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #fff7f2;
}

.top3Columns {
  display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top3Column {
    flex: 1;
    min-width: 300px;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(255, 174, 0, 0.555);
    border: 1px solid var(--glass-border);
    box-shadow: 0 0 15px rgba(0, 47, 255, 0.418);
}

.top3Column h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #222941;
}

.columnDescription {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 20px;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tableRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 10px 15px;
}

.tableRank {
    width: 20px;
    font-weight: bold;
    font-size: 1.1rem;
    color: #FB7E25;
}

.tableName {
    flex: 1;
    margin-left: 10px;
    font-size: 1rem;
    color: #333;
}

.tableCount {
    font-size: 0.95rem;
    color: #777;
}
